<div class="animated fadeIn fast">
    <h1>Sobre Comic App</h1>
</div>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nostrum aspernatur fuga, aperiam impedit nisi, quo dolor commodi possimus esse velit iusto eligendi rem autem! Perferendis voluptatum distinctio hic eum. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Adipisci tempore numquam nostrum fuga laudantium, cumque nam et assumenda enim provident vitae commodi excepturi ad mollitia nesciunt aspernatur repellat magni pariatur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
    necessitatibus perspiciatis, praesentium minima facere sit. Doloribus atque inventore cumque tempora ad qui, quo eligendi minus? Sunt amet ea nostrum distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, molestias iusto. Delectus
    illum ipsum, alias autem dolores quo, labore voluptate nobis similique deleniti, numquam qui tempore quisquam laboriosam nemo non!
</p>