<h1>Héroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns">

    <!-- 
        Usando ngFor recorremos el objeto y para acceder a sus
        datos, usamos la variable que especificamos (en este caso es 'i'),
        seguido del atributo que queremos que muestre.name

        [src] y [alt] : Usamos esta sintáxis, encerrar en corchete, el atributo
        de la etiqueta, para específicar que Angular se encargará de ese atributo.
    -->

    <div class="card animated fadeIn fast" *ngFor="let i of heroes; let j = index">
        <img class="card-img-top" [src]="i.img" [alt]="i.nombre">
        <div class="card-body">
            <h5 class="card-title"> {{ i.nombre }} </h5>
            <p class="card-text"> {{ i.bio }}</p>
            <p class="card-text"><small class="text-muted"> {{ i.aparicion }} </small></p>


            <a [routerLink]="['/heroe', j]" class="btn btn-outline-primary">Ver más link...</a>
        </div>
    </div>


</div>